<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Casa do Mel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-item lines="full" color="tertiary">
    <ion-label class="ion-text-center">
      <h1> Nosso(s) Mel(Méis)</h1>
    </ion-label>
    <ion-icon name="water" slot="end" id="brilhodagotinhadomel" color="secondary"></ion-icon>
  </ion-item>

  <ion-item lines="full">
    <ion-thumbnail slot="start">
     <img src="assets/eucalipto.jpeg">
    </ion-thumbnail>
    <ion-label> Eucalipto 1KG</ion-label>
    <ion-badge slot="end" color="success"> 20,00 </ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
     <img src="assets/eucaliptinho.jpeg">
    </ion-thumbnail>
    <ion-label> Eucalipto 0,5KG </ion-label>
    <ion-badge slot="end" color="success"> 12,00 </ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
     <img src="assets/laranjeira.jpeg">
    </ion-thumbnail>
    <ion-label> Laranjeira 1KG </ion-label>
    <ion-badge slot="end" color="success"> 20,00 </ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
     <img src="assets/">
    </ion-thumbnail>
    <ion-label> Laranjeira 0,5KG </ion-label>
    <ion-badge slot="end" color="success"> 12,00 </ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
     <img src="assets/">
    </ion-thumbnail>
    <ion-label> Silvestre 1KG </ion-label>
    <ion-badge slot="end" color="success"> 20,00 </ion-badge>
  </ion-item>


</ion-content>
